/*Initial Setup*/ /*https://bits.theorem.co/css-pro-tips-responsive-font-sizes-and-when-to-use-which-units/*/
body {
      background-color: #fff;
      font: 12px;       
  }

#grid{
    display: grid;
    grid-template-areas: "header" "navbar" "body" "footer";
    background-color: #fff;
    max-width: 1200px;
    grid-gap: 2rem;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: rgba(232, 32, 32, 0.7);
    border-width: 1px;
    place-items: center center;
}

#body{
    grid-area: "body";
    background-color: #fff;
    border: solid #424242 .2em;
    border-radius: .2%;
    overflow: visible;
    max-width:  1280px; 
    margin:     auto; 
    margin-bottom: 50px;
    width:      100%; 
    display:    block;
    }

iframe {
    grid-area: "body";
    border: solid #424242 .2em;
    border-radius: .2%;
    overflow: visible;
    height:     6800px; 
    max-width:  960px; 
    margin:     auto; 
    width:      100%; 
    display:    block;
}

nav{
    grid-area: "navbar";
    margin: auto;
    
}


nav>a{
    margin: 2rem !important;
    
    display: inline;
    color: #444444;
    text-decoration: none;
    text-transform: uppercase;
}



h1{
    font: 2rem Helvetica !important;
    text-transform: uppercase;} 

h2{
    font: 1.5rem Helvetica !important;
    }
    
.level4 {
    margin: 10px;
    padding: 10px;
}

.level4>p{
    font: 12px !important; 
}

#Conclusions{
    font: 1.5rem Helvetica !important;
}

#Data-Analysis-of-geographic-distribution-of-London-house-prices{
    font: 1.5rem Helvetica !important;
}


.prompt.input_prompt{
 display: none;
    }

.prompt.output_prompt{
    display: none;
}